.board-show--lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 15px;
}

#board-show--header-container {
  margin-top: 0.5%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#delete-board--container {
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20px;
  overflow: hidden;

}

#delete-board--container:hover {
  transition: 0.3s ease-in-out;
  width: 100px;
}

#delete-board--notify {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 25px;
  color: white;
  font-family: $body-font;
  width: 80px;
  font-size: 12px;
  background-color: $red;
}

#delete-board--icon:hover {
  cursor: pointer;
  padding-right: 3px;
}



// ******* LIST ITEM ********

.list-item-header--container {
  display: flex;
  justify-content: space-between;
}

.list-item--container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background: rgba(142, 174, 89, 0.7);
  margin-right: 1%;
  border-radius: 3px;
  width: 300px;
  color: white;
  padding: 1%;
  box-sizing: border-box;
  height: min-content;
  max-height: 350px;
  overflow: scroll;
  justify-content: center;
}

.list-item--title {
  font-family: $header-font;
  font-size: 18px;
  border-radius: 3px;
}

.list-item--title:hover {
  transition: 0.3s ease-in-out;
  background-color: $green;
  display: table;
  cursor: pointer; 
}

// ******* CARD ITEM ********

.card-item--container {
  width: 100%;
  font-family: $body-font;
  background: rgba(255, 255, 255, 0.8);
  min-height: 30px;
  border-radius: 3px;
  margin-top: 2%;
  display: flex;
  align-items: center;
  color: $darkgreen;
}

.card-item--title {
  margin-left: 2%;
}

#bar-divider {
  color: white;
  font-family: $header-font;
  font-size: 22px;
  font-weight: 400;
  display: table;
  margin-left: 1%;
  margin-right: 1%;
}
