// ********* MEMBERS DROPDOWN

.board-header--dropdown {
  width: 180px;
  min-height: 150px;
  background-color: $green;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  position: absolute;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-left: -7%;
  margin-top: 0.5%;
}

.board-header--dropdown:hover {
  cursor: default;
}
.members-dropdown--header {
  font-family: $body-font;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2%;
}

.members-dropdown--item {
  font-family: $body-font;
  font-size: 14px;
  margin-left: 5%;
  margin-bottom: 1%;
}

// ****** USER SEARCH DROPDOWN

.user-search--container {
  width: 180px;
  min-height: 150px;
  background-color: $green;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  position: absolute;
  color: white;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-top: 0.5%;
  margin-left: -12%;
}

#user-search-input {
  display: block;
  border: none;
  border-bottom: 3px solid white;
  background: transparent;
  justify-content: center;
  font-size: 14px;
  color: white;
  width: 100%;
}

#user-search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#user-search-input:hover {
  background: rgba(255, 255, 255, 0.5);
}

#user-search-input:focus {
  outline: none;
}

.UserSearchIndex {
  margin-top: 5%;
}

.user-search--items {
  width: 100%;
  font-family: $body-font;
  background: rgba(255, 255, 255, 0.8);
  min-height: 10px;
  border-radius: 3px;
  margin-top: 2%;
  display: flex;
  align-items: center;
  color: $darkgreen;
  text-decoration: none;
  justify-content: center;
  padding: 1px;
}

.user-search--items:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#user-search--notfound {
  font-family: $body-font;
  margin-top: 5%;
}
