#delete-list-dropdown--icon {
  position: absolute;
  margin-left: 19.5%;
  margin-top: -0.7%;
  border-radius: 3px;
}

#delete-list-dropdown--icon:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

#delete-list-dropdown--container {
  width: 150px;
  height: 40px;
  background: $green;
  border-radius: 3px;
  z-index: 50;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: $body-font;
  font-size: 18px;
  box-shadow: $popup-shadow;
  margin-left: 19.4%;
  margin-top: 0.5%;
}

#delete-list-dropdown--button {
  padding-top: 6%;
  padding-left: 5%;
  box-sizing: border-box;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 3px;
}

#delete-list-dropdown--button:hover {
  transition: 0.3s ease-in-out;
  background-color: $red;
}