#edit-board--header {
  color: white;
  font-family: $header-font;
  font-size: 22px;
  font-weight: 600;
  border-radius: 3px;
  display: table;
}

#edit-board--header:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}

#edit-board-form--container {
  width: 300px;
  height: 125px;
  background: $green;
  border-radius: 3px;
  z-index: 50;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $body-font;
  font-size: 18px;
  margin-left: 1.2%;
  margin-top: 1.2%;
}