#edit-board--header {
  color: white;
  font-family: $header-font;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1%;
  margin-left: 1.5%;
  display: table;
  border-radius: 3px;
}

#edit-board--header:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
}

#edit-board--form {
  margin-top: -2.4%;
  margin-left: 1.5%;
}

#edit-board--input {
  border: none;
  border: 1px solid white;
  background: $green;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  color: white;
  border-radius: 3px;

}

#edit-board--input::placeholder {
  color: rgba(255, 255, 255, 0.7)
}

#edit-board--input:focus {
  outline: none;
}

#edit-board--submit {
  background: transparent;
  border: 1px solid white;
  margin-left: 1%;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 3px 3px 1px 1px;
}

#edit-board--submit:hover {
  background: $green;
  transition: 0.3s ease-in-out;
}

#edit-board--submit:focus {
  outline: none;
}
