#edit-list--form {
  margin-top: -11%;

}

#edit-list--input {
  background: $green;
  color: white;
  font-family: $header-font;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
  height: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  
}

#edit-list--input:focus {
  outline: none;
}





