.members-share--header {
  color: white;
  font-family: $header-font;
  font-size: 22px;
  font-weight: 400;
  border-radius: 3px;
  padding: 2px;
  display: table;
}

.members-share--header:hover {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.share-bttn {
  border: 1px solid white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px;
  background: transparent;
}

.share-bttn:hover {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.share-bttn:focus {
  outline: none;
}


