// ****** NEW LIST FORM ********

.new-list--container {
  margin-top: 15px;
  width: 300px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  font-family: $body-font;
  color: rgb(211, 211, 211);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 49;
}

.new-list--container:hover {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.7); 
  color: rgb(119, 119, 119);
  cursor: pointer;
}

.new-list-form--container {
  width: 300px;
  height: 125px;
  background: $green;
  border-radius: 3px;
  z-index: 50;
  margin-top: -13.75%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $body-font;
  font-size: 18px;
  box-shadow: $popup-shadow;
}

#list-form--header {
  margin-top: -5%;
}

#list-form--input {
  display: block;
  border: none;
  border-bottom: 5px solid white;
  background: transparent;
  justify-content: center;
  font-size: 18px;
  color: white;
}

#list-form--input::placeholder {
  color: rgba(255, 255, 255, 0.7)
}

#list-form--input:focus {
  background:rgba(255, 255, 255, 0.4);
  outline: none;
}

#list-form--input:hover {
  background:rgba(255, 255, 255, 0.4);
}

#list-form--submit {
  border-radius: 3px;
  margin-top: 5%;
  width: 50%;
  padding: 6px 16px;
  font-size: 12px;
  font-family: $body-font;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  font-weight: 700;
}

#list-form--submit:hover {
  transition: 0.3s ease-in;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#list-form--submit:focus {
  outline: 0;
}

// ****** NEW CARD FORM ********

.new-card--container {
  width: 100%;
  height: 30px;


  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  font-family: $body-font;
  color: rgb(211, 211, 211);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 49;
  margin-top: 2%;
}

.new-card--container:hover {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.7); 
  color: rgb(119, 119, 119);
  cursor: pointer;
}

.new-card-form--container {

  width: inherit;
  height: 140px;
  background: $green;
  border-radius: 3px;
  z-index: 50;
  margin-top: -11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $body-font;
  font-size: 18px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);  
}

#new-card-form--header {
  margin-top: -5%;
}

#new-card-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#card-form--textarea {
  max-width: 97.8%;
  display: block;
  border: 2px solid white;
  background: transparent;
  justify-content: center;
  font-size: 14px;
  color: $darkgreen;
}

#card-form--textarea::placeholder {
  color: rgba(255, 255, 255, 0.7)
}

#card-form--textarea:focus {
  background:rgba(255, 255, 255, 0.4);
  outline: none;
}

#card-form--textarea:hover {
  background:rgba(255, 255, 255, 0.4);
}

#card-form--submit {
  border-radius: 3px;
  margin-top: 3%;
  width: 50%;
  padding: 6px 16px;
  font-size: 12px;
  font-family: $body-font;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  font-weight: 700;
}

#card-form--submit:hover {
  transition: 0.3s ease-in;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#card-form--submit:focus {
  outline: 0;
}

