.logo {
  background-image: url('http://res.cloudinary.com/nwilliams770/image/upload/c_scale,w_600/v1515437937/Tyrello1_pxcaqb.png');
  background-repeat: no-repeat;
  width: 600px;
  height: 135px;
  margin-top: 5%;
  margin-left: 5%;
}

.session--container {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  margin-left: 60%;
  margin-top: 20%;
  font-family: 'Lato', sans-serif;
  color: white;
  align-items: center;
}

.session--header {
  font-weight: 900;
  margin-top: 3%;
  font-size: 50px;
}

.session--bullets {
  margin-right: 5%;
  margin-top: 1%;
}


.session--form {
  display: flex;
  flex-direction: column;
}