.bg {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-bg {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -50;
}

.fullscreen-bg-video {
  position: absolute;
  top: 50%;
  left:50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -50;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("http://res.cloudinary.com/nwilliams770/image/upload/v1515178866/Bee_Flower_Compressed_ds0ii6.jpg") center center / cover no-repeat;
  }
}

.splash--copy {
  display: flex;
  flex-direction: column;
  margin-left: 60%;
}

.splash--h1 {
  color: white;
  font-family: $body-font;
  font-weight: 700;
  font-size: 80px;

}

.splash--h2 {
  color: white;
  font-family: $body-font;
  font-weight: 400;
  font-size: 40px;
  margin-top: 3%;
}

.splash--body > * {
  margin-top: 2%;
  margin-left: 2%;
  font-family: $body-font;
  font-size: 24px;
  color: white;
}

.splash--links > * {
  margin-top: 1%;
  margin-left: 2%;
  font-family: $body-font;
  font-style: italic;
  font-size: 16px;
  color: white;
}


.logo {
  background-image: url('http://res.cloudinary.com/nwilliams770/image/upload/c_scale,w_600/v1515437937/Tyrello1_pxcaqb.png');
  background-repeat: no-repeat;
  width: 600px;
  height: 135px;
  margin-top: 5%;
  margin-left: 5%;
}

.splash--container {
  color: white;
}

.link {
  font-style: normal;
}

.slide-up-fade-in-reverse{
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide-up-fade-in{
  animation: slide-up-fade-in ease 1.5s;
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,200px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}