.boards-dropdown--container {
    width: 18%;
    height: 40%;
    background: $green;
    position: absolute;
    overflow: scroll;
    margin-top: 0.45%;
    border-radius: 1px;
    box-shadow: 0 3px 6px rgba(0,0,0,.4);
    color: white;
    font-size: 18px;
    font-family: $body-font;
}

.boardsdropdown--headers {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dropdown--icons {
  margin-left: 2%;
  margin-right: 1%;
}

.boards-dropdown--boards-lists {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}

.boards-dropdown--items {
  color: white;
  text-decoration: none;
  margin-bottom: 1%;
}

.boards-dropdown--items:visited {
  color: white;
  text-decoration: none;
}

.boards-dropdown--items:hover {
  background: rgba(255, 255, 255, 0.4);
}



