.session-img--container {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  overflow: hidden;
}

.session-dropdown--container {
  background: $green;
  height: 80px;
  width: 220px;
  color: white;
  font-family: $header-font;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-left: -12%;
  margin-top: 0.2%;
  border-radius: 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
}

#session-dropdown--header {
  margin-top: 2%;
}

#session-dropdown--underline {
  height: 1px;
  border: 0;
  border-top: 2px solid white;
  margin: 0.5em 0;
  width: 90%;
}

#logout--button {
  border-radius: 3px;
  width: 50%;
  padding: 6px 16px;
  font-size: 12px;
  font-family: $body-font;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  font-weight: 700;
}

#logout--button:hover {
  transition: 0.3s ease-in;
  background: rgba(255, 255, 255, 0.5);
}

#logout--button:focus {
  outline: 0;
}