.toolbar--container {
  display: flex;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  min-height: 5.5%;
  align-items: center;
  flex-direction: row;
}

.boards--dropdown {
  margin-left: 5%;
}

.boards-button {
  background: $green;
  color: white;
  border: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-family: $body-font;
  font-size: 18px;
}

.boards-button:hover, .info-bttn:hover {
  transition: 0.3s ease-in;
  background: #b2c88e;
  cursor: pointer;
}

.boards-button:focus, .info-bttn:focus {
  outline: 0;
}



.toolbar--link {
  text-decoration: none;
  padding-right: 4%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
}

.logo--link {
  margin-left: 40%;
}

.toolbar--logo {
  opacity: 0.5;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.toolbar--logo:hover {
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  
}

.right-buttons--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 35%;
}


