.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -50;
}

.fullscreen-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  max-height: 100vh;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("http://res.cloudinary.com/nwilliams770/image/upload/v1515178866/Bee_Flower_Compressed_ds0ii6.jpg") center center / cover no-repeat;
  }
}