/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bg {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-bg {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -50;
}

.fullscreen-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -50;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("http://res.cloudinary.com/nwilliams770/image/upload/v1515178866/Bee_Flower_Compressed_ds0ii6.jpg") center center/cover no-repeat;
  }
}
.splash--copy {
  display: flex;
  flex-direction: column;
  margin-left: 60%;
}

.splash--h1 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.splash--h2 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 3%;
}

.splash--body > * {
  margin-top: 2%;
  margin-left: 2%;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
}

.splash--links > * {
  margin-top: 1%;
  margin-left: 2%;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 16px;
  color: white;
}

.logo {
  background-image: url("http://res.cloudinary.com/nwilliams770/image/upload/c_scale,w_600/v1515437937/Tyrello1_pxcaqb.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 135px;
  margin-top: 5%;
  margin-left: 5%;
}

.splash--container {
  color: white;
}

.link {
  font-style: normal;
}

.session-button {
  font-family: "Open-Sans", sans-serif;
  font-size: 24px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 3%;
  width: 30%;
  margin-left: 25%;
  margin-top: 5%;
  padding: 15px 20px;
}

.session-button:hover {
  transition: 0.3s ease-in;
  background: rgba(255, 255, 255, 0.5);
}

.session-button:focus {
  outline: 0;
}

.slide-up-fade-in-reverse {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.slide-up-fade-in {
  animation: slide-up-fade-in ease 1.5s;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.photo-bg {
  background-image: url("http://res.cloudinary.com/nwilliams770/image/upload/v1515620625/Temps_Des_Fleurs_twhy6i.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url("http://res.cloudinary.com/nwilliams770/image/upload/v1515620625/Temps_Des_Fleurs_twhy6i.jpg");
  width: 100%;
  height: 100%;
  z-index: -50;
}

.logo-login-signup {
  background-image: url("http://res.cloudinary.com/nwilliams770/image/upload/c_scale,w_600/v1515437937/Tyrello1_pxcaqb.png");
  background-repeat: no-repeat;
  width: 600px;
  height: 135px;
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
}

.signup-login--container {
  margin-left: 60%;
  margin-top: 18%;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 48%;
  border-radius: 5%;
}

.signup-login--header {
  margin-top: 5%;
  font-family: "Open-Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.signup-login-form {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup--input {
  border: none;
  border-bottom: 5px solid white;
  background: transparent;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.login-signup--input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.login-signup--input:focus {
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.login-signup--input:hover {
  background: rgba(255, 255, 255, 0.4);
}

.login-signup--submit {
  border-radius: 3%;
  margin-top: 5%;
  width: 50%;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  font-weight: 700;
}

.login-signup--submit:hover {
  transition: 0.3s ease-in;
  background: rgba(255, 255, 255, 0.5);
}

.login-signup--submit:focus {
  outline: 0;
}

#signup--submit {
  margin-top: 15%;
}

.link-copy {
  margin-top: 3%;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 18px;
}

#redirect-link {
  font-style: normal;
}

.bg--signup-login {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -50;
}

.login-signup-errors {
  font-family: "Lato", sans-serif;
  color: #ff7777;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.session--container {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  margin-left: 60%;
  margin-top: 20%;
  font-family: "Lato", sans-serif;
  color: white;
  align-items: center;
}

.session--header {
  font-weight: 900;
  margin-top: 3%;
  font-size: 50px;
}

.session--bullets {
  margin-right: 5%;
  margin-top: 1%;
}

.session--form {
  display: flex;
  flex-direction: column;
}

.toolbar--container {
  display: flex;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  height: 40px;
  align-items: center;
  flex-direction: row;
}
