/*
Error: File to import not found or unreadable: ./components/footer/footer.
        on line 6 of style.scss

1: @import './helpers/_variables';
2: @import 'base';
3: @import './components/splash/splash';
4: @import './components/signup/signup';
5: @import './components/login/login';
6: @import './components/footer/footer';

Backtrace:
style.scss:6
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/import_node.rb:45:in `import'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/stack.rb:135:in `with_frame'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/stack.rb:79:in `with_base'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/engine.rb:290:in `render'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-3.5.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/nwilliams770/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ./components/footer/footer.\A         on line 6 of style.scss\A \A 1: @import './helpers/_variables';\A 2: @import 'base';\A 3: @import './components/splash/splash';\A 4: @import './components/signup/signup';\A 5: @import './components/login/login';\A 6: @import './components/footer/footer';"; }
