.header--shared, .header--personal {
  width: 15%;
  min-height: 5%;
  background: rgba(142, 174, 89, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 3px;
  font-family: $header-font;
  color:white;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10%;
  margin-top: 5%;
}

.board--icons {
  margin-right: 5%;
  margin-left: 2%;
}

.board-index-item--container {
  width: 250px;
  height: 125px;
  border-radius: 3px;
  background: rgba(142, 174, 89, 0.7);
  font-family: $body-font;
  color: white;
  font-size: 20px;
  margin-top: 3%;
}

.board-index-item--container:hover {
  transition: 0.3s ease-in-out;
  background: #b2c88e;
}

.board-index-item--link {
  margin-right: 1.5%;
}

.board-index-item--name {
  padding-left: 5%;
  padding-top: 5%;

}

.board-index-item--link {
  text-decoration: none;

}

.board-index-item--link:visited {
  text-decoration: none;
  color: white;
}

.boards--list {
  display: flex;
  flex-flow: wrap;
  margin-left: 10%;
}