.new-board--container {
  width: 250px;
  height: 125px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3%;
  font-family: $body-font;
  color: rgb(211, 211, 211);
  font-size: 16px;
  margin-top: 3%;
  margin-left: 8%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-board--container:hover {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.7); 
  color: rgb(119, 119, 119);
   
}
